{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<form action="{{ path('app_login') }}" method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <body class="text-center">
        <img class="mb-4" src="{{ asset('ENIEcole.jpg') }}" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Veuillez vous connecter</h1>

        <label for="idEmail" class="sr-only" >Email : </label>
        <input type="email" value="{{ last_username }}" class="text-center w-25" name="email" id="idEmail"  placeholder="Email" required autofocus>

        <br>
        <label for="idPassword" class="sr-only" >Mot de passe : </label>
        <input type="password" class="mt-1 text-center w-25" name="password" id="idPassword" placeholder="Mot de passe" required>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <br>
            <button class="btn btn-md btn-primary  mt-4  w-auto" type="submit">Connexion</button>
    </body>
</form>
{% endblock %}





