{% extends 'base.html.twig' %}

{% block body %}
    <body class="text-center">
    <h1 class="h3 mb-3 font-weight-normal">Inscription Formateur</h1>
    {{ form_start(form) }}
    {{ form_row(form.username, {'label': "Nom d\'utilisateur : ", 'attr':{'': "#"}}) }}
    {{ form_row(form.prenom, {'label': 'Prénom : ', 'attr':{'#': '#'}}) }}
    {{ form_row(form.nom, {'label': 'Nom : ', 'attr':{'#': '#'}}) }}
    {{ form_row(form.password, {'label': 'Mot de passe : ', 'attr':{'#': '#'}}) }}
    {{ form_row(form.confirm_password, {'label': 'Comfirmation mot de passe : ', 'attr':{'#': '#'}}) }}
    {{ form_row(form.email, {'label': 'Adresse Email : ', 'attr':{'#': '#'}}) }}
    {{ form_row(form.civilite, {'label': 'Êtes vous une femme? : '}) }}
    <button type="submit" class="btn btn-success">Inscrire </button>
    {{ form_end(form) }}
    </body>

{% endblock %}