{% extends 'base.html.twig' %}
{% block title %}Création Formation{% endblock%}
{% block body %}
    <section class="text-center container">
        {{ form_start(formFormation) }}

            <p class="font-weight-bold">Création Formation</p>

                {{ form_row(formFormation.parcoursFormation, {'label': "Choix du Parcours : ", 'attr':{'class': "form-control"}}) }}
                {{ form_row(formFormation.dateDebut, {'label': "Date début du parcours : ", 'attr':{'class':"form-inline"}}) }}
                {{ form_row(formFormation.lieu, {'label': "Lieu : ", 'attr':{'class': "form-control"}}) }}
                {{ form_row(formFormation.description, {'label': "Description : ", 'attr':{'class': "form-control"}}) }}
            <a href="{{ path('home_formateur') }}" class="btn btn-outline-primary">Annuler</a>
            <button type="submit" class="btn btn-outline-success m-2" >Générer</button>

        {{ form_end(formFormation) }}
    </section>

{% endblock %}