{% extends 'base.html.twig' %}
{% block title %}Détail Parcours{% endblock %}
{% block body %}
    <body>
    <section class="w-100 m-auto">


    <p>Détail Parcours</p>
    <p>Parcours Choisi : {{ formation.parcoursFormation.libelle }}</p>
            <section>

                <div class="text-right m-3">
                    <button type="button" class="btn btn-outline-primary ">Modifier</button>
                </div>

                <table class="text-center table table-striped w-auto m-auto">
                    <thead>
                        <tr>
                            <th>Ref</th>
                            <th>Programme</th>
                            <th>Durée</th>
                            <th>Début du cours</th>
                            <th>Modifier</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for coursP in coursParcours%}
                        <tr>
                            <td>{{ coursP.cours.ref }}</td>
                            <td>{{ coursP.cours.nom }}</td>
                            <td>{{ coursP.cours.dateDebut | date('d/m/Y') }}</td>
                            <td>{{ coursP.cours.dateFin | date('d/m/Y') }}</td>
                            <td><input type="radio" name="update"></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </section>

            <section>
                <a href="{{ path('formation_create') }}" class=" btn btn-outline-primary my-2 ">Retour</a>
                <a href="{{ path('stagiaire_add') }}" class="btn btn-outline-success my-2 ">Continuer - Inscription</a>
            </section>
    </section>



    </body>


{% endblock %}