{% extends 'base.html.twig' %}
{% block title %}Détail Parcours{% endblock %}
{% block body %}
    <body>
    <section class="w-100 m-auto">


        <p class="font-weight-bold text-center m-3">Vous avez choisi le parcours: {{ formation.parcoursFormation.libelle }} </p>
            <section class="container">

                <table class="text-center table table-striped table-bordered w-100  ">
                    <thead>
                        <tr>
                            <th>Ref</th>
                            <th>Programme</th>
                            <th>Durée</th>
                            <th>Début du cours</th>
                            <th>Modifier</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for coursP in coursParcours%}
                        <tr>
                            <td>{{ coursP.cours.ref }}</td>
                            <td>{{ coursP.cours.nom }}</td>
                            <td>{{ coursP.cours.duree }}h</td>
                            <td>{{ coursP.cours.dateDebut | date('d/m/Y') }}</td>
                            <td>
                                <a href="{{ path('cours_edit', {id: coursP.id}) }}" class="btn btn-outline-primary">Editer</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <a href="{{ path('formation_create') }}" class=" btn btn-outline-primary ">Retour</a>
                <a href="{{ path('stagiaire_add') }}" class="btn btn-outline-success  ">Continuer - Inscription</a>
            </section>
    </section>



    </body>


{% endblock %}