{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<section>
    <p class="font-weight-bold text-center m-3">Bienvenue
        {% if  app.user.civilite == false %}
            Monsieur
        {% else %}
            Madame
        {% endif %}{{ app.user.nom}}
    </p>

    <p>

    </p>
<div class="text-right">
    <a class="btn btn-outline-success mx-5" href="{{ path('formation_create') }}">Ajouter une formation</a>

</div>
    <table class="text-center table table-striped table-bordered w-auto mx-5 my-3">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Début Formation</th>
                <th>Fin Formation</th>
                <th>Détails</th>
                <th>Sélection</th>
            </tr>
        </thead>
        <tbody>
            {% for formation in formations %}
                <tr>
                   <td>{{ formation.parcoursFormation.libelle }} </td>
                    <td>{{ formation.dateDebut | date('d/m/Y') }}</td>
                    <td>  TODO: formation.dateDebut + somme durée des cours dans un parcours</td>
                    <td> TODO (détail : mettre chaque initial et en faire un lien détaillant la formation</td>
                    <td>
                        <form method="post" action="{{ path('formation_delete', {id: formation.id}) }}" onsubmit="return confirm('Êtes vous vraiment sur de vouloir supprimer cet formation ?')">
                            {# "_method" est un paramètre compris par symfony qui donne une méthode différent de GET/POST et on lui donne une "value"#}
                            <input type="hidden" name="_method" VALUE="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ formation.id) }}">
                            <button class=" btn btn-outline-danger my-2">Annuler</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}
